*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.container-fluid{
    width: 100%;
    background-color:#191970;
    font-size: x-large;
    color: white;
    padding-bottom: 5px;

}
.container-fluid h4{
    padding: 10px;
}
.container{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;

  
}
.container .first-row {
    margin-top: 0.5%;
    width: 100%;
    max-width: 80%;
    padding: 0px;
    
}
.container .first-row #selection  {
    width: 10%;
    padding: 10px;
    
}
.container .second-row{
    display: flex;
    flex-wrap: nowrap;
}
.container .second-row .temperatur{
  width: 50%;
}
.container .second-row .humidity{
    padding-top: 50px;
    width: 50%;
  }
.container .first-row #city {
    width: 50%;
    padding: 10px;
    
}
 .container .first-row #search-btn {
    width: 10%;
    padding: 10px;
    
}
.container .third-row .days{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.container .third-row .days .card{
    text-align: center;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
    padding-bottom: 60px;
}